/* Généralités */
body {
	background-color: #283B40;
	color: white;
	height: 91.7vh;
}
h1 {
	text-align: center;
	border-bottom: 3px solid white;
	width: 15%;
	margin-left: auto;
	margin-right: auto;
	color : #E20055;
}

#ecran-admin {
	color: #283B40;
	background-color: white;
	height: 91.7vh;
}

/* ============================================================ */
/* ========================== Header ========================== */
/* ============================================================ */
#navigation-bar {
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	margin-right: 0%;
	margin-left: 0%;
}
#logo-navbar > img {
	float: right;
}
#logo-navbar{
	padding-right: 2em;
}
#header_text {
	padding-left: 0%;
}
#header_quizzz {
	color: rgb(218, 46, 68);
}
#nav-logos {
	height: 3em;
	width: 3em;
}
/* =========================================================== */
/* ========================== Index ========================== */
/* =========================================================== */
#index {
	height: 100%;
	padding: 0;
	background-image: url('../images/login.png');
  	background-repeat: no-repeat;
  	background-attachment: fixed; 
  	background-size: cover;

  	display: flex;
  	flex-direction: column;
}

#phrase-accroche {
	font-family: sans-serif;
	color: rgb(218, 46, 68);
	margin-top: 20vh;
	margin-left: 17vh;
}
#phrase-accroche>h1 {
	font-size: 5em;
	width: 27%;
}

#boutons-connexion {
	margin-top: 20vh;
	margin-left: 25vh;
}

#boutons-connexion > a {
	width: 15%;
	height: 3em;
	background-color: white;
	color: gray;
	min-width: 150px;
	padding-top: 0.6em;
}

#img-login {
	width: 100%;
}

/* ============================================================ */
/* ==================== FORM LOGIN - POPUP ==================== */
/* ============================================================ */
.login { /* Tout le popup, avec le fond transparent */
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100vw;
	height: 100vh;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
	transition: .64s ease-in-out;
  }
  .popup-inner { /* L'interieur du popup, c-a-d le formulaire */
	/* Relatif à l'animation*/
	position: relative;
	bottom: -100vw;
	right: -100vh;
	transform: rotate(32deg);
	transition: .64s ease-in-out;
  
	/* Relatif au contenu */
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 350px;
	min-height: 600px;
	width: 25%;
	height: 70%;
	background-color: rgb(55, 68, 72);
	padding-top: 6%;
  }
  .popup-inner.inscription {
	  padding-top: 3%;
  }
  
  .popup-inner > h2 {
	  color: rgb(218, 46, 68);
	  margin-top: 3%;
	  margin-bottom: 6%;
  }
  
  #login-form, #inscription-form {
	  width: 60%;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
  }
  
  .form-group {
	  display: flex;
	  flex-direction: column;
	  /*align-items: center;*/ /*A gérer avec un id par rapport aux mêmes classes présentes dans questions.php plus nombreuses*/
  }
  
  #connexion-label, #inscription-label {
	  color: white;
	  font-size: larger;
  }
  
  #connexion-email, #inscription-email {
	  border-radius: 25px;
	  height: 3em;
  }
  #connexion-mdp, #inscription-mdp, #inscription-confirmation-mdp {
	  border-radius: 25px;
	  height: 3em;
  }
  
  #login-bouton-valider, #inscription-bouton-valider {
	  border-radius: 25px;
	  color: gray;
	  width: 40%;
	  margin-top: 10%;
  }
  
  .login:target {
	visibility: visible;
	opacity: 1;
  }
  .login:target .popup-inner {
	bottom: 0;
	right: 0;
	transform: rotate(0);
  }
  .closepopup {
	position: absolute;
	right: -1rem;
	top: -1rem;
	width: 3rem;
	height: 3rem;
	font-size: .875rem;
	font-weight: 300;
	border-radius: 100%;
	background-color: rgb(218, 46, 68);
	z-index: 4;
	color: #fff;
	line-height: 3rem;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
  }

/* =================================================================== */
/* ===== Nouveau quiz + nouvelles questions + nouvelles réponses ===== */
/* =================================================================== */
#nouveau-quiz-container {
	padding-top: 3em;
	padding-left: 20%;
	padding-right: 20%;
	border: solid;
	margin-left: 8%;
	margin-right: 8%;
	height: 85%;
}
#nouveau-quiz-container > h1 {
	width: 90%;
	margin-bottom: 1em;
	border: solid;
	border-radius: 1em;
	color: white;
	background-color: #E20055;
	height: 1.5em;
}
#ajout-question-container {
	padding-top: 3em;
	padding-left: 20%;
	padding-right: 20%;
	border: solid;
	margin-left: 8%;
	margin-right: 8%;
}

#ajout-question-container > h1 {
	width: 90%;
	margin-bottom: 1em;
	border: solid;
	border-radius: 1em;
	color: white;
	background-color: #E20055;
	height: 1.5em;
}

#modif-quiz {
	width: 60%;
	margin-left: 20%;
	margin-top: 3em;
}

#modif-quiz-container {
	padding-top: 2em;
	padding-left: 20%;
	padding-right: 20%;
	border: solid;
	margin-left: 8%;
	margin-right: 8%;
	height: 100%;
}

#bouton-suppression-modification {
	background-color: #E20055;
	color: white; 
	font-size: larger;
	border-radius: 5em;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	height: 3em;
	margin: 4em;
	margin-left: 30%;
}

/* =================================================================== */
/* ========================== Accueil admin ========================== */
/* =================================================================== */
#accueil-admin > h1 {
	margin-top: 2em;
	width: 80%;
	color: #283B40;
	border: solid;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
}

#accueil-admin-bouttons {
	display: flex;
	justify-content: center;
	margin-top: 7em;
}

#accueil-admin-bouttons > a {
	background-color: #E20055;
	color: white; 
	font-size: larger;
	width: 12em;
	height: 12em;
	border-radius: 12em;
	padding-top: 5em;
	margin: 4em;
}

/* =================================================================== */
/* ========================== Profil Joueur ========================== */
/* =================================================================== */
#profilJoueur-container {
	width: 50%;
	margin-top: 3em;
	margin-left: 25%;
	
}
#profilJoueur-container > h1 {
	width : 25%;
	margin-bottom: 1em;
} 

#profilJoueur-container > h3 {
	margin-bottom: 1em;
} 


/* Page d'accueil des quiz (accueilQuiz.php) */
#conteneur {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#contenu {
	display: flex;
}

#descriptif {
	justify-content: center;
	text-align: left;
	margin-bottom: 5%;
	display: flex;
	flex-wrap: wrap;
}

#title {
	border-bottom: 3px solid #E20055;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}

.imgDescriptive {
	margin-left: 5%;
}

.quiz {
	width: 25%;
	margin: 1%;
	background-color: white;
	color : #283B40;
	font-size: large;
	border-radius:10px;
	text-align: center;
}

/* Version portable */
@media (min-width: 480px) and (max-width: 780px) {

	.quiz {
		width: 90%;
	}

	h1 {
		width: 35%;
	}
}

/* Version tablette */
@media (min-width: 781px) and (max-width: 979px) {
	.quiz {
		width: 45%;
	}

	h1 {
		width: 25%;
	}
}

/* Page profil */
#infosPerso {
	width: 60%;
	margin-left: 25%;
}

/* Page questions du quiz */
#questionnaire {
	width: 60%;
	margin-left: 20%;
}

/* Page de résultat (resultat.php) */
#res {
	text-align: center;
	margin-top: 5%;
}

a:link, a:hover, a:focus, a:visited, a:active {
	color: #E20055;
}